* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f3f2ef;
}

/* design top headings */
header .header-left img {
    height: 40px;
    margin-right: 10px;
    object-fit: contain;

}

header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.05px solid lightgrey;
    padding: 10px;
    background-color: white;

}

.flex {
    display: flex;

}

.header-search {
    width: 310px;
    padding: 20px;
    align-items: center;
    height: 22px;
    color: gray;
    background-color: #ccd5de;
    border-radius: 5px;


}

.header-search input {
    outline: none;
    border: none;
    background: none;
}

.header-icons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.header-icons:hover {
    color: black;
    opacity: 1;
}

.header-icons h3 {
    font-size: 10px;
    margin-top: 10px;
    font-weight: 400;
}

.header-icons span {
    margin-right: 5px;
    height: 18px;
    width: 20px;
}

.header-right-profile {
    border-left: 1px solid gray;
    padding-left: 10px;
    width: 180px;
    display: flex;
    align-items: center;

}

.header-right-profile h3 {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.header-right-profile img {
    height: 30px;
    border-radius: 50%;
}

.header-icons .info {
    position: absolute;
    background-color: brown;
    color: white;
    font-size: 10px;
    padding: 1px 3px;
    margin-top: -6px;
    margin-left: 10px;
    font-weight: 600;
    border-radius: 6px;
}

/* design right dropdown option */
.dropdown {
    position: relative;
}

.dropdown .symbol {
    position: absolute;
    margin-left: -32px;
    margin-top: 10px;
    color: gray;
}

.symbol:hover {
    color: black;
}

.dropdown-content {
    visibility: hidden;
    height: fit-content;
    padding: 5px 0px;
    position: absolute;
    left: -190px;
    top: 25px;

    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 250px;

}



.dropdown .title {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 5px;
    color: black;

}

.list {
    padding: 8px 10px;
    font-size: small;
}

.list:hover {
    text-decoration: underline;
    background-color: #e9e5df;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.bdr_bottom {
    border-bottom: 0.2px solid rgba(0, 0, 0, .15);
}

.dropdown_profile {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 10px;
}

.profile_view_button {
    border: 1px solid blue;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 500px;
}

/* design main body */
section.main {
    margin: 25px 140px;
    display: grid;
    grid-template-columns: 20% 50% 25%;
    grid-gap: 16px;
}

/* design main:left sidebar */
section.main .sidebar {
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 0 !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;

}

.sidebar-top {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid rgba(0, 0, 0, .15);
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    height: fit-content;
    border-radius: 8px;
    text-align: center;

}

.sidebar-top .background {
    background-image: url("./images/background.jpg");
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.sidebar-top .profile img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid white;
    margin: -35px auto 0 auto;

}

.sidebar_top .profile_info {
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 10px;
}

.sidebar-top .profile_info p {
    padding: 2px;
}

.account_name {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
}

.act_title {
    font-size: 1.2rem;
    font-weight: 400;

}

.connections {
    padding: 8px;
    width: 100%;
}

.connections:hover {
    background: #e9e5df;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.viewed {
    padding: 8px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.viewed-profile {
    font-size: 0.8rem;
}

.viewed:hover {
    background: #e9e5df;
    cursor: pointer;

}

.sidebar_access {
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid lightgray;
    border-left: none;
    width: 100%;
    border-right: none;
    text-align: left;

}

.sidebar_access a {
    text-decoration: none;
    color: black;

}

.sidebar_access a:hover {
    color: blue;
}

.sidebar_access:hover {
    cursor: pointer;
    background-color: #e9e5df;
}

.sidebar_footer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar_footer span {
    margin-right: 10px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: fit-content;
    flex-wrap: wrap;
    border: 2px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
    background-color: white;
}

.sidebar_title {
    margin: 10px;
    font-size: 0.8rem;

}

.sidebar_second_text {
    padding: 3px 10px;
    font-size: 0.9rem;
    color: grey;
    font-weight: 500;
}

.sidebar_second_text:hover {
    background-color: #e9e5df;
}

.sidebar_second_text span {
    margin-right: 10px;
    font-size: medium;
}

/* design middle post  */
.posts {
    background: transparent;
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-gap: 10px;
    background-color: #f3f2ef;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}

.post_box {
    display: flex;
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
}

.input_text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.post_input {
    width: 90%;
    padding: 15px;
    border: 1px solid #6e6558;
    border-radius: 500px;
    outline: none;
    color: black;

}


.profile {
    height: 50px;
    border-radius: 50%;
}

.post_input:hover {
    background: transparent;
}

.input_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.input_option {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.post_box {
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--para_color);
    font-weight: 400;
}

.input_text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.option {
    margin-right: 10px;
}

.post_item {
    margin-bottom: 10px;
}

.input_option {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.post_item {
    background-color: white;

    /* border: 2px solid rgba(0, 0, 0, .15); */

    height: fit-content;
}

.post_item_header {
    padding: 10px;
}

.box1,
.act {
    height: 300px;
}

.input_option:hover {

    background: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.post_item_owner>a {
    text-decoration: none;
    color: black;
    font-size: 1.4 rem;
    font-weight: 600;
}

.post_item_owner>a:hover {
    color: blue;
}


.post_item_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post_item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_item_body_info {
    padding-left: 10px;
    padding-right: 10px;

}

.post_item_body_info>p {
    font-size: 0.8rem;
}

.post_item_header>i:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 500px;

}


.post_item_body_info>p {
    padding: 10px 0px;
    font-size: 1.05rem;
    color: black;
}

.post_item_body_video>video {
    object-fit: contain;
    width: 400px;
}

.post_item_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid lightgray;
    flex-wrap: wrap;

}

.post_item_footer>.footer_item {
    margin-right: 10px;
    color: black;
    font-size: 0.8 rem !important;
}

.footer_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.footer_item:hover {
    background-color: lightgrey;
    padding: 10px;
    cursor: pointer;
}

.footer_item>i {
    font-weight: 600;
    color: var(--message);
    font-size: 1.2rem;
    margin-right: 5px;
}


.post_item_comment_info {
    margin: 4px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.post_item_comment_info>span {
    line-height: 2;
    margin-left: 10px;
    font-size: 15px;
}

.posts .profile {
    height: 50px;
    border-radius: 50%;
}

/* css for right section */
.activity {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: none;
}

.news {
    border: 2px solid rgba(0, 0, 0, .15);
    height: fit-content;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 10px;
}

.news_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0px;
}

.news_title {
    font-weight: 800;
}

.act_title {
    font-size: 0.8rem;
    font-weight: 600;

}

.new_list {
    background-color: white;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 1px 10px;

    justify-content: center;

    width: 100%;
}

.new_list:hover {
    background-color: #e9e5df;
    cursor: pointer;
}


.account_feed {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    flex-wrap: wrap;

}

.account_picture {
    height: 40px;
    object-fit: contain;
}

.account_info {
    margin-left: 5px;
}

.follow {
    padding: 5px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 5px;
    border-radius: 50px;
    border: 1px solid black;
}

.follow:hover {
    background-color: #e9e5df;
    cursor: pointer;
}